{
  "extends": ["wesbos"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "import/no-named-default": "off",
    "no-use-before-define": ["error", { "functions": false }],
    "camelcase": [
      "error",
      {
        "allow": [
          "[a-z]+_(page|token)",
          "is_admin",
          "is_liked",
          "is_published",
          "is_deleted",
          "total_likes",
          "created_at",
          "picture_url",
          "total_submitted"
        ]
      }
    ]
  }
}
