{
  "extends": ["wesbos"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "import/no-named-default": 0,
    "camelcase": [
      2,
      {
        "allow": [
          "[a-z]+_(page|token)",
          "is_admin",
          "is_liked",
          "is_published",
          "is_deleted"
        ]
      }
    ],
    "no-use-before-define": ["error", { "functions": false }]
  }
}
